<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>





<!--Menu fragment Start-->
<div class="container rounded border border-1 border-dark p-2 mt-3" th:fragment="FacultyMenu">
    <h3 class="text-center text-dark">MENU</h3>
    <div class="d-flex justify-content-center align-items-center flex-wrap">
        <div class="text-center mx-1 mb-1"><a th:href="@{/faculty/subjects(page=0)}" class="btn btn-success">Subjects</a></div>
        <div class="text-center mx-1 mb-1"><a th:href="@{/faculty/exams(page=0)}" class="btn btn-success">Exams</a></div>
        <div class="text-center mx-1 mb-1"><a th:href="@{/faculty/attendance(page=0)}" class="btn btn-success">Attendance</a></div>
        <div class="text-center mx-1 mb-1"><a th:href="@{/faculty/query(page=0)}" class="btn btn-success">Query</a></div>
        <div class="text-center mx-1 mb-1"><a th:href="@{/faculty/requests(page=0)}" class="btn btn-success">Registration Request</a></div>
        <div class="text-center mx-1 mb-1"  sec:authorize="hasRole('HOD')"><a th:href="@{/faculty/manageSubjects(page=0)}" class="btn btn-success">Manage Subjects</a></div>

    </div>
</div>
<!--Menu fragment End -->







<!--Faculty profile fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="FacultyProfile">
    <div class="row ">
        <div class="col-md-4">
            <form th:action="@{/faculty/profile/updateProfilePic}"  method="post" enctype="multipart/form-data">
                <div class="profilePic d-flex justify-content-center align-items-center">
                    <img th:src="@{'/Images/ProfilePic/' + ${currentUser.profilePic.pic}}" alt=""  class="img-thumbnail profile_img">
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <input style="display:none" type="file" id="my-file" name="profile_img">
                    <button type="button" onclick="document.getElementById('my-file').click()" class="myButton mt-2 mx-1 w-40">Select New</button>
                </div>
                <div class="profilePicB row mt-1 mb-2">
                    <div class="col-6 text-center">
                        <a th:href="@{/faculty/profile/removeProfilePic(pId=${currentUser.profilePic.id})}" class="btn btn-danger">Remove</a>
                    </div>
                    <div class="col-6 text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 ">
            <form th:action="@{/faculty/profile/update}" method="post" th:object="${facultyPojo}">
                <div class="info">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Full Name" th:field="*{name}">
                        <label for="name">Full Name</label>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="regNumber" placeholder="Registration Number" th:field="*{facultyId}" readonly>
                        <label for="regNumber">University registration Number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" th:field="*{email}" readonly>
                        <label for="email">your email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="age" placeholder="000" th:field="*{age}">
                        <label for="age">your age</label>
                        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="birthdate" placeholder="00/0/0000" th:field="*{birthdate}"required>
                        <label for="birthdate">your birth date</label>
                        <p th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="city" placeholder="mumbai" th:field="*{city}">
                        <label for="city">your city</label>
                        <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="state" placeholder="maharashtra" th:field="*{state}">
                        <label for="state">your state</label>
                        <p th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="address" placeholder="something" th:field="*{address}">
                        <label for="address">your address</label>
                        <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary w-50">Update</button>
                </div>
            </form>
            <p class="text-center m-1"><a class="text-decoration-none text-danger" th:href="@{/faculty/passwordUpdate}">Password Update</a></p>
        </div>
    </div>
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <div class="container rounded border border-1 border-dark p-2 mt-3">
        <h3 class="text-center text-dark">DEPARTMENT DETAILS</h3>
        <div class="fw-bold pt-2">
            <p class="m-1">Department Name : <span class="text-danger"><a class="text-decoration-none" th:href="@{'/home/dept/' + ${currentUser.department}}" th:text="${currentUser.department}"></a></span></p>
            <p class="m-1">Head Of The Department : <span class="text-danger"><a class="text-decoration-none" th:href="@{/profile/faculty}"></a></span></p>
            <p class="m-1">Your Designation : <span class="text-danger" th:text="${currentUser.designation}"></span></p>
            <p class="m-1">Allocated Class : <span class="text-danger" th:text="${currentUser.classTeacher}"></span></p>
        </div>
        <div class="text-center">
            <a th:href="@{/faculty/updateDeptdetails}" class="btn btn-primary">Update Details</a>
        </div>
    </div>
</div>
<!--Faculty profile fragment End-->





<!--Faculty Password fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="FacultyPassUpdate">
    <div class="m-1">
        <h5 class="text-primary text-center">Password Update</h5>
    </div>


    <div class="profileForm row">
        <div class="col-md-8 offset-md-2 mb-2">
            <form th:action="@{/faculty/passwordUpdate/process}"  method="post" enctype="multipart/form-data">
                <div class="form-floating mb-3 mt-3 ">
                    <input type="text" class="form-control" id="password_old" placeholder="Enter current password"
                           name="Password_old">
                    <label for="password_old">Current password :</label>
                </div>
                <div class="form-floating mb-3 mt-3 ">
                    <input type="password" class="form-control" id="password_new" placeholder="Enter password"
                           name="Password_new">
                    <label for="password_new">New password :</label>
                    <p th:if="${password_error}" th:text="${password_error}"></p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="myButton w-50">Submit</button>
                </div>
            </form>


            <div th:if="${Match}">
                <h4 class="text-success text-center">Password Updated Successfully</h4>
                <p class="text-center text-dark">Go back to <a class="text-decoration-none text-primary" th:href="@{/faculty/profile}">Profile</a> page</p>
            </div>
            <div th:if="${NotMatch}">
                <h4 class="text-danger text-center">Current Password did not match, try again..!</h4>
            </div>
        </div>
        <hr>
        <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>

    </div>
</div>
<!--Faculty Password fragment End-->





<!--Faculty Dept details update fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="FacultyDeptUpdate">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <div class="container rounded border border-1 border-dark p-5 mt-3" th:fragment="DeptView">
        <h3 class="text-center text-dark">DEPARTMENT DETAILS</h3>
        <form th:action="@{/faculty/updateDeptdetails/process}"  th:object="${faculty}" method="post">
            <select class="form-select mb-2" aria-label="Default select example" th:field="*{department}">
                <option th:value="Select_Year" selected>Select Department</option>
                <option th:value="Information_Technology">Information Technology</option>
                <option th:value="Computer_Science_Engineering">Computer Science and Engineering</option>
                <option th:value="Civil_Engineering">Civil Engineering</option>
                <option th:value="Mechanical_Engineering">Mechanical Engineering</option>
                <option th:value="Electrical_Engineering">Electrical Engineering</option>
                <option th:value="Electronics_Engineering">Electronics Engineering</option>

            </select>
            <select class="form-select mb-3" aria-label="Default select example" th:field="*{designation}">
                <option th:value="Select_Year" selected>Select Designation</option>
                <option th:value="Professor">Professor</option>
                <option th:value="Assistant_Professor">Assistant Professor</option>
                <option th:value="HOD">HOD</option>
            </select>
            <select class="form-select mb-2" aria-label="Default select example" th:field="*{classTeacher}">
                <option th:value="None" selected>Select Class</option>
                <option th:value="First_Year">First Year</option>
                <option th:value="Second_Year">Second Year</option>
                <option th:value="Third_Year">Third Year</option>
                <option th:value="Fourth_Year">Fourth Year</option>

            </select>
            <div class="mb-3">
                <div class="table-responsive mt-5">
                    <h3 class="text-center text-primary mb-3">Subjects available for Allocation</h3>
                    <table class="m-2 table table-bordered">
                        <thead>
                        <tr class="text-center">
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Subject Name</th>
                            <th scope="col">Subject ID</th>
                            <th scope="col">Credits</th>
                            <th scope="col">Course</th>
                            <th scope="col">Semester</th>
                            <th scope="col">Add</th>
                        </tr>
                        </thead>
                        <tbody class="text-center" >
                        <tr th:each="subject,iterationStatus : ${allSubjects}">
                            <td th:text=${iterationStatus.count}></td>
                            <td th:text="${subject.name}">IT0002</td>
                            <td th:text="${subject.subId}">13</td>
                            <td th:text="${subject.credits}">5</td>
                            <td th:text="${subject.course}">First Year</td>
                            <td th:text="${subject.semester}">2</td>
                            <td class="text-center"><input class="form-check-input" type="checkbox" id="inlineCheckbox"  th:value="${subject.id}"  name="subjects">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
        <div class="table-responsive mt-5">
            <h3 class="text-center text-primary mb-3">Your Allocated Subjects</h3>
            <table class="m-2 table table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Subject ID</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Course</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Remove</th>
                </tr>
                </thead>
                <tbody class="text-center" >
                <tr th:each="subject,iterationStatus : ${currentUser.subjects}">
                    <td th:text=${iterationStatus.count}></td>
                    <td th:text="${subject.name}">IT0002</td>
                    <td th:text="${subject.subId}">13</td>
                    <td th:text="${subject.credits}">5</td>
                    <td th:text="${subject.course}">First Year</td>
                    <td th:text="${subject.semester}">2</td>
                    <td class="text-center"><a th:href="@{/faculty/updateDeptdetails/removeSubject(sId=${subject.id})}" class="btn btn-danger">Remove</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Faculty Dept details update fragment Start-->




<!--Faculty allocated subject fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="FacultySubjects">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <hr>
    <h3 class="text-center text-primary m-3 "><span class="bg-dark rounded p-1">ALLOCATED SUBJECT DATA</span></h3>
    <div th:if="${totalPages != 0}" >
        <div class="table-responsive mt-1">
            <table class="m-2 table table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Subject ID</th>
                    <th scope="col">Total Students</th>
                    <th scope="col">List of Students</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="subject,item : ${subjects}">
                    <td th:text="${item.count}">1</td>
                    <td th:text="${subject.name}">IT0002</td>
                    <td th:text="${subject.subId}">13</td>
                    <td th:text="${subject.studentCount}">12</td>
                    <td th:if="${listView == 'view'}"><a th:href="@{/faculty/subjects/list(subject=${subject.id},page=0)}" class="btn btn-success">Go</a>
                    <td th:if="${studentMarks == 'studentMarks'}">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <a th:href="@{/faculty/exams/view(subject=${subject.id},page=0)}" class="btn btn-success">View</a>
                            </div>
                            <div class="col-sm-6 text-center">
                                <a th:href="@{/faculty/exams/update(subject=${subject.id},page=0)}" class="btn btn-warning">Update</a>
                            </div>
                        </div>
                    </td>
                    <td th:if="${attendanceUpdate == 'attendanceUpdate'}">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <a th:href="@{/faculty/attendance/view(subject=${subject.id},page=0)}" class="btn btn-success">View</a>
                            </div>
                            <div class="col-sm-6 text-center">
                                <a th:href="@{/faculty/attendance/update(subject=${subject.id},page=0)}" class="btn btn-warning">Update</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div th:replace="~{Fragments/FacultyFragments :: FacultyPagination}"></div>
    </div>
    <div th:unless="${totalPages != 0}">
        <h2 class="text-center text-success">Nothing to show....</h2>
    </div>
</div>
<!--Faculty allocated subject fragment End-->





<!--Faculty allocated subject's student list fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="facultySubjectStudentList">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <hr>
    <div class="table-responsive mt-1">
        <h3 class="text-center text-primary mb-3">REGISTERED STUDENTS FOR <span th:text="${subjectName.name}"></span></h3>
        <table class="m-2 table table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col">Sr. No.</th>
                <th scope="col">Student Name</th>
                <th scope="col">University Reg Id</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="student,item : ${students}">
                <td th:text="${item.count}">1</td>
                <td><a th:href="@{/profile/student(id=${student.id})}" class="text-decoration-none" th:text="${student.name}">name</a></td>
                <td th:text="${student.universityNo}">13</td>
                <td th:text="${student.email}">12</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div th:replace="~{Fragments/FacultyFragments :: FacultyPagination}"></div>
</div>
<!--Faculty allocated subject's student list fragment End-->






<!--Faculty Subject Attendance fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="FacultyAttendance">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <hr>
    <h3 class="text-center text-primary m-3">STUDENT WISE ATTENDANCE FOR <span th:text="${subjectName.name}"></span></h3>
    <div th:if="${totalPages !=0 }">
        <div class="table-responsive mt-1">
            <table class="m-2 table table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Total Lectures</th>
                    <th scope="col">Attended Lectures</th>
                    <th scope="col">Percentage</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="attendance,item : ${attendances}">
                    <td th:text="${item.count}">1</td>
                    <td><a th:href="@{/profile/student(id=${attendance.student.id})}" class="text-decoration-none" th:text="${attendance.student.name}">name</a></td>
                    <td th:text="${attendance.totalClasses}">13</td>
                    <td th:text="${attendance.presentClasses}">12</td>
                    <td th:text="${attendance.presentPercentage}">50</td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div th:replace="~{Fragments/FacultyFragments :: FacultyPagination2}"></div>
    </div>
    <div th:unless="${totalPages != 0}">
        <h2 class="text-center text-success">Nothing to show....</h2>
    </div>
</div>
<!--Faculty Subject Attendance fragment End-->





<!--Faculty Subject Attendance fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="FacultyAttendanceUpdate">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <hr>
    <h3 class="text-center text-primary m-3">STUDENT WISE ATTENDANCE FOR <span th:text="${subjectName.name}"></span></h3>
    <div th:if="${totalPages != 0}">
        <div class="table-responsive">
            <table class="m-2 table table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col">Sr. No.</th>
                    <th class="d-none" scope="col">Attendance Id.</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Total Lectures</th>
                    <th scope="col">Attended Lectures</th>
                    <th scope="col">Update Attendance</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="attendance,item : ${attendances}">
                    <form th:action="@{'/faculty/subjects/attendance/update/process/' + ${pageNo}}" method="post"  th:object="${attendance}">
                        <td th:text="${item.count}">1</td>
                        <td class="d-none"><input type="number" name="id" th:value="${attendance.id}" readonly/></td>
                        <td ><a th:href="@{/profile/student(id=${attendance.student.id})}" class="text-decoration-none" th:text="${attendance.student.name}">name</a></td>
                        <td><input type="number" name="totalClasses" id="totalClasses" th:value="${attendance.totalClasses}"/></td>
                        <td><input type="number" name="presentClasses" id="presentClasses" th:value="${attendance.presentClasses}"/></td>
                        <td><button type="submit" class="btn btn-warning">Update</button></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div th:replace="~{Fragments/FacultyFragments :: FacultyPagination2}"></div>
    </div>
    <div th:unless="${totalPages != 0}">
        <h2 class="text-center text-success">Nothing to show....</h2>
    </div>
</div>
<!--Faculty Subject Attendance fragment End-->






<!--Faculty Student Marks for Subject fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="StudentMarksView">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <hr>
    <h3 class="text-center text-primary m-3">STUDENT WISE MARKS OF <span th:text="${subjectName.name}"></span></h3>
    <div th:if="${totalPages != 0}">
        <div class="table-responsive mt-1">
            <table class="m-2 table table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">CT-1</th>
                    <th scope="col">CT-2</th>
                    <th scope="col">INTERNAL</th>
                    <th scope="col">END SEMESTER</th>
                    <th scope="col">GRADE</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="score,item : ${scores}">
                    <td th:text="${item.count}">1</td>
                    <td ><a th:href="@{/profile/student(id=${score.student.id})}" class="text-decoration-none" th:text="${score.student.name}">name</a></td>
                    <td th:text="${score.ct1}">13</td>
                    <td th:text="${score.ct2}">12</td>
                    <td th:text="${score.internal}">50</td>
                    <td th:text="${score.endSem}">50</td>
                    <td th:text="${score.grade}">A</td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div th:replace="~{Fragments/FacultyFragments :: FacultyPagination2}"></div>
    </div>
    <div th:unless="${totalPages != 0}">
        <h2 class="text-center text-success">Nothing to show....</h2>
    </div>
</div>
<!--Faculty Student Marks for Subject fragment End-->






<!--Faculty Student Marks update for Subject  fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="StudentMarksUpdate">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <hr>
    <h3 class="text-center text-primary m-3">STUDENT WISE MARKS FOR <span th:text="${subjectName.name}"></span></h3>
    <div th:if="${totalPages != 0}">
        <div class="table-responsive mt-1">
            <table class="m-2 table table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col">Sr. No.</th>
                    <th class="d-none">Score Id</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">CT-1</th>
                    <th scope="col">CT-2</th>
                    <th scope="col">INTERNAL</th>
                    <th scope="col">END SEMESTER</th>
                    <th scope="col">UPDATE</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="score,item : ${scores}">
                    <form th:action="@{'/faculty/exams/update/process/'+${pageNo}}" th:object="${score}" method="post">
                        <td th:text="${item.count}">1</td>
                        <td class="d-none"><input type="number" th:value="${score.id}" name="id" readonly/></td>
                        <td><a th:href="@{/profile/student(id=${score.student.id})}" class="text-decoration-none" th:text="${score.student.name}">name</a></td>
                        <td><input type="number" name="ct1" id="ct1" th:value="${score.ct1}"/></td>
                        <td><input type="number" name="ct2" id="ct2" th:value="${score.ct2}"/></td>
                        <td><input type="number" name="internal" id="internal" th:value="${score.internal}"/></td>
                        <td><input type="number" name="endSem" id="endSem" th:value="${score.endSem}"/></td>
                        <!--                    <td><input type="date" name="examDate" id="examDate" th:value="${score.examDate}"/></td>-->
                        <td><button type="submit" class="btn btn-warning">Update</button></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div th:replace="~{Fragments/FacultyFragments :: FacultyPagination2}"></div>
    </div>
    <div th:unless="${totalPages != 0}">
        <h2 class="text-center text-success">Nothing to show....</h2>
    </div>
</div>
<!--Faculty Student Marks update for Subject fragment End-->





<!--Faculty Student query fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="StudentQueriesView">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <hr>
    <h3 class="text-center text-primary m-3">QUERIES OF STUDENTS</h3>
    <div th:if="${totalPages != 0}">
        <div class="table-responsive mt-1">
            <table class="m-2 table table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Query Subject</th>
                    <th scope="col">Raised On</th>
                    <th scope="col">Resolve</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="query,item : ${queries}">
                    <td th:text="${item.count}">1</td>
                    <td ><a th:href="@{/profile/student(id=${query.student.id})}" class="text-decoration-none" th:text="${query.student.name}">name</a></td>
                    <td th:text="${query.title}">13</td>
                    <td th:text="${query.postedDate}">12</td>
                    <td><a th:href="@{/faculty/query/resolve(qId=${query.id},page=${pageNo})}" class="btn btn-primary">Resolve</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div th:replace="~{Fragments/FacultyFragments :: FacultyPagination}"></div>
    </div>
    <div th:unless="${totalPages != 0}">
        <h2 class="text-center text-success">Nothing to show....</h2>
    </div>
    <hr>
    <p class="text-center my-1"><a th:href="@{/faculty/resolved_queries(page=0)}" class="text-decoration-none">Resolved Queries</a></p>
</div>
<!--Faculty Student query fragment End-->





<!--Faculty Student resolved query fragment start-->
<div class="divContainer m-4 p-3" th:fragment="StudentResolvedQueriesView">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <hr>
    <h3 class="text-center text-primary m-3">RESOLVED QUERIES OF STUDENTS</h3>
   <div th:if="${totalPages != 0}">
       <div class="table-responsive mt-2">
           <table class="m-2 table table-bordered">
               <thead>
               <tr class="text-center">
                   <th scope="col">Sr. No.</th>
                   <th scope="col">Student Name</th>
                   <th scope="col">Query Subject</th>
                   <th scope="col">Raised On</th>
                   <th scope="col">Resolve On</th>
               </tr>
               </thead>
               <tbody class="text-center">
               <tr th:each="query,item : ${resolvedQueries}">
                   <td th:text="${item.count}">1</td>
                   <td ><a th:href="@{/profile/student(id=${query.student.id})}" class="text-decoration-none" th:text="${query.student.name}">name</a></td>
                   <td th:text="${query.title}">13</td>
                   <td th:text="${query.postedDate}">12</td>
                   <td th:text="${query.resolvedDate}"></td>
               </tr>
               </tbody>
           </table>
       </div>
       <hr>
       <div th:replace="~{Fragments/FacultyFragments :: FacultyPagination}"></div>
   </div>
    <div th:unless="${totalPages != 0}">
        <h2 class="text-center text-success">Nothing to show....</h2>
    </div>
</div>
<!--Faculty Student resolved query fragment End-->






<!--Faculty Student query resolve fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="FacultyQueryResolve">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <div class="container">
        <h3 class="text-center text-primary">Query</h3>
        <div class="p-2 fw-bold">
            <p class="m-1">Raised by : <a th:href="@{/profile/student(id=${query.student.id})}" class="text-decoration-none" th:text="${query.student.name}">name</a></p>
            <p class="m-1">Query Subject : <span class="text-success" th:text="${query.title}"></span></p>
            <p class="m-1">Query Data : <span class="text-success" th:text="${query.query}"></span></p>
            <p class="m-1">Raised On :<span class="text-success" th:text="${query.postedDate}"></span></p>
        </div>
        <div class="m-1 p-1">
            <form th:action="@{'/faculty/query/resolve/submit/' + ${page}}" th:object="${queryPojo}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="query" class="form-label">Enter Remark</label>
                    <textarea class="form-control" id="query" rows="4" th:field="*{remark}"></textarea>
                </div>
                <div class="row my-2">
                    <div class="col-sm-6 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Faculty Student query resolve fragment End-->





<!--Faculty allocated subject fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="FacultyRequests">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <hr>
    <h3 class="text-center text-primary m-3">REGISTRATION REQUSTS</h3>
   <div th:if="${totalPages != 0}">
       <div class="table-responsive">
           <table class="m-2 table table-bordered">
               <thead>
               <tr class="text-center">
                   <th scope="col">Sr. No.</th>
                   <th scope="col">Student Name</th>
                   <th scope="col">Subject ID</th>
                   <th scope="col">Subject Name</th>
                   <th scope="col">Action</th>
               </tr>
               </thead>
               <tbody class="text-center">
               <tr th:each=" request,item : ${Requests}">
                   <td th:text="${item.count}">1</td>
                   <td><a th:href="@{/profile/student(id=${request.student.id})}" class="text-decoration-none" th:text="${request.student.name}">name</a></td>
                   <td th:text="${request.subject.subId}">13</td>
                   <td th:text="${request.subject.name}">12</td>
                   <td>
                       <div class="row">
                           <div class="col-sm-6 text-center">
                               <a th:href="@{/faculty/requests/approve(stId=${request.student.id},subId=${request.subject.id},page=${pageNo})}" class="btn btn-success">Approve</a>
                           </div>
                           <div class="col-sm-6 text-center">
                               <a th:href="@{/faculty/requests/reject(stId=${request.student.id},subId=${request.subject.id},page=${pageNo})}" class="btn btn-danger">Reject</a>
                           </div>
                       </div>
                   </td>
               </tr>
               </tbody>
           </table>
       </div>
       <hr>
       <div th:replace="~{Fragments/FacultyFragments :: FacultyPagination}"></div>
   </div>
    <div th:unless="${totalPages != 0}">
        <h2 class="text-center text-success">Nothing to show....</h2>
    </div>
</div>
<!--Faculty allocated subject fragment End-->








<!--Faculty department Subjects fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="FacultyManageSubjects">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <hr>
    <h3 class="text-center text-primary mb-3">DEPARTMENT SUBJECT DATA</h3>
    <div class="p-1">
        <span class="text-dark">Enroll new subject for the department : </span>
        <a th:href="@{/faculty/manageSubjects/add}" class="btn btn-primary">Add</a>
    </div>
    <div th:if="${totalPages != 0}">
        <div class="table-responsive mt-3">
            <table class="m-2 table table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Subject ID</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Course</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody class="text-center" >
                <tr th:each="subject,iterationStatus : ${subjects}">
                    <td th:text=${iterationStatus.count}></td>
                    <td th:text="${subject.name}">IT0002</td>
                    <td th:text="${subject.subId}">13</td>
                    <td th:text="${subject.credits}">5</td>
                    <td th:text="${subject.course}">First Year</td>
                    <td th:text="${subject.semester}">2</td>
                    <td class="text-center"><a th:href="@{/faculty/manageSubjects/edit(sId=${subject.id},page=${pageNo})}" class="btn btn-warning">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div th:replace="~{Fragments/FacultyFragments :: FacultyPagination}"></div>
    </div>
    <div th:unless="${totalPages != 0}">
        <h2 class="text-center text-success">Nothing to show....</h2>
    </div>
</div>
<!--Faculty department Subjects fragment End-->







<!--Faculty Add department Subjects fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="FacultyAddSubject">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
   <div class="m-2 p-5">
       <form th:action="@{/faculty/manageSubjects/add/newSubject}" th:object="${subject}" method="post">
           <div class="form-floating mb-3">
               <input type="text" class="form-control" id="name" placeholder="Full Name" th:field="*{name}">
               <label for="name">Subject Name</label>
           </div>
           <div class="form-floating mb-3">
               <input type="text" class="form-control" id="subId" placeholder="Subject Id" th:field="*{subId}">
               <label for="subId">Subject Id</label>
           </div>
           <div class="form-floating mb-3">
               <input type="number" class="form-control" id="credits" placeholder="Credits" th:field="*{credits}">
               <label for="credits">Credits</label>
           </div>
           <select class="form-select mb-3" aria-label="Default select example" name="course" th:field="*{course}">
               <option th:value="Select_Year" selected>Select Class</option>
               <option th:value="First_Year">First Year</option>
               <option th:value="Second_Year">Second Year</option>
               <option th:value="Third_Year">Third Year</option>
               <option th:value="Fourth_Year">Fourth Year</option>

           </select>
           <select class="form-select mb-3" aria-label="Default select example" name="semester" th:field="*{semester}">
               <option th:value="Select_Year" selected>Select Semester</option>
               <option th:value="First">First</option>
               <option th:value="Second">Second</option>
               <option th:value="Third">Third</option>
               <option th:value="Fourth">Fourth</option>
               <option th:value="Fifth">Fifth</option>
               <option th:value="Sixth">Sixth</option>
               <option th:value="Seventh">Seventh</option>
               <option th:value="Eighth">Eighth</option>

           </select>
           <div class="d-flex justify-content-center align-items-center m-1">
               <button type="submit" class="btn btn-primary w-50">Add</button>
           </div>
       </form>
   </div>
</div>
<!--Faculty Add department Subjects fragment end-->







<!--Faculty edit department Subjects fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="FacultyEditSubject">
    <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>
    <div class="m-2 p-5">
        <form th:action="@{'/faculty/manageSubjects/edit/process/' + ${page}}" th:object="${subject}" method="post">
            <div class="form-floating mb-3 d-none">
                <input type="hidden" class="form-control" id="id" placeholder="id" th:field="*{id}">
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="Full Name" th:field="*{name}">
                <label for="name">Subject Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="subId" placeholder="Subject Id" th:field="*{subId}">
                <label for="subId">Subject Id</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="credits" placeholder="Credits" th:field="*{credits}">
                <label for="credits">Credits</label>
            </div>
            <select class="form-select mb-3" aria-label="Default select example" name="course" th:field="*{course}">
                <option th:value="Select_Year" selected>Select Class</option>
                <option th:value="First_Year">First Year</option>
                <option th:value="Second_Year">Second Year</option>
                <option th:value="Third_Year">Third Year</option>
                <option th:value="Fourth_Year">Fourth Year</option>

            </select>
            <select class="form-select mb-3" aria-label="Default select example" name="semester" th:field="*{semester}">
                <option th:value="Select_Year" selected>Select Semester</option>
                <option th:value="First">First</option>
                <option th:value="Second">Second</option>
                <option th:value="Third">Third</option>
                <option th:value="Fourth">Fourth</option>
                <option th:value="Fifth">Fifth</option>
                <option th:value="Sixth">Sixth</option>
                <option th:value="Seventh">Seventh</option>
                <option th:value="Eighth">Eighth</option>

            </select>
            <div class="d-flex justify-content-center align-items-center m-1">
                <button type="submit" class="btn btn-primary w-50">Update</button>
            </div>
        </form>
    </div>
</div>
<!--Faculty edit department Subjects fragment Start-->





<!--Faculty pagination fragment Start-->
<nav aria-label="Page navigation example" class="text-center my-1" th:fragment="FacultyPagination">
    <ul class="pagination">
        <li th:if="${pageNo != 0}" class="page-item"><a class="page-link" th:href="@{'/'+${pageUrl}(page=${pageNo-1})}">Previous</a></li>
        <li class="page-item" th:each="i : ${#numbers.sequence(1,totalPages)}"><a class="page-link" th:href="@{'/'+${pageUrl}(page=${i-1})}"><span th:text="${i}"></span></a></li>
        <li th:if="${pageNo+1 != totalPages}" class="page-item"><a class="page-link" th:href="@{'/'+${pageUrl}(page=${pageNo+1})}">Next</a></li>
    </ul>
</nav>



<nav aria-label="Page navigation example" class="text-center my-1" th:fragment="FacultyPagination2">
    <ul class="pagination">
        <li th:if="${pageNo != 0}" class="page-item"><a class="page-link" th:href="@{'/'+${pageUrl}(page=${pageNo-1},subject=${subId})}">Previous</a></li>
        <li class="page-item" th:each="i : ${#numbers.sequence(1,totalPages)}"><a class="page-link" th:href="@{'/'+${pageUrl}(page=${i-1},subject=${subId})}"><span th:text="${i}"></span></a></li>
        <li th:if="${pageNo+1 != totalPages}" class="page-item"><a class="page-link" th:href="@{'/'+${pageUrl}(page=${pageNo+1},subject=${subId})}">Next</a></li>
    </ul>
</nav>
<!--Faculty pagination fragment Start-->


</body>
</html>