<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--Registration Number verification fragment Start-->
<div class="row m-2" th:fragment="Student_registration">
    <div class="col-md-6 offset-md-3 rounded loginContainer p-5">
        <h3 class="text-center text-Success">REGISTRATION</h3>
        <form th:action="@{/home/student/registration/verification}" method="post">
            <div class="form-floating mb-2">
                <input type="email" name="stEmail" id="stEmail" class="form-control" placeholder="example@gmail.com">
                <label for="stEmail">Enter Your Email</label>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
                <div class="col-6 text-center">
                    <a th:href="@{/home/login}" class="btn btn-secondary text-decoration-none">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Student Registration Number verification fragment End-->






<!--Student Registration fragment Start-->
<div class="row m-2" th:fragment="Student_registration2">
    <div class="col-md-6 offset-md-3 rounded loginContainer p-5">
        <h3 class="text-center text-Success">REGISTRATION</h3>
        <form th:action="@{/home/student/registrationDetails}" method="post" th:object="${student}">
            <div class="form-floating mb-2">
                <input type="text" name="regNumber" id="regNumber" class="form-control" placeholder="BT24F06F006" th:field="*{universityNo}">
                <label for="regNumber">Enter University Registration Number</label>
                <p th:if="${#fields.hasErrors('universityNo')}" th:errors="*{universityNo}" class="text-danger">Error</p>
            </div>
            <div class="form-floating mb-2">
                <input type="text" name="name" id="name" class="form-control" placeholder="FullName" th:field="*{name}">
                <label for="name">Enter Your Full Name</label>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error</p>
            </div>
            <div class="form-floating mb-2">
                <input type="email" name="email" id="email" class="form-control" placeholder="example@gmail.com" th:field="*{email}">
                <label for="email">Enter Your  Email</label>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Error</p>
            </div>
            <select class="form-select mb-2" aria-label="Default select example" name="department" th:field="*{department}">
                <option th:value="Select_Year" selected>Select Department</option>
                <option th:value="Information_Technology">Information Technology</option>
                <option th:value="Computer_Science_Engineering">Computer Science and Engineering</option>
                <option th:value="Civil_Engineering">Civil Engineering</option>
                <option th:value="Mechanical_Engineering">Mechanical Engineering</option>
                <option th:value="Electrical_Engineering">Electrical Engineering</option>
                <option th:value="Electronics_Engineering">Electronics Engineering</option>

            </select>

            <select class="form-select mb-2" aria-label="Default select example" name="studyYear" th:field="*{course}">
                <option th:value="Select_Year" selected>Select course</option>
                <option th:value="First_Year">First Year</option>
                <option th:value="Second_Year">Second Year</option>
                <option th:value="Third_Year">Third Year</option>
                <option th:value="Fourth_Year">Fourth Year</option>

            </select>
            <div class="form-floating">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" th:field="*{password}">
                <label for="password">Enter Password</label>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Error</p>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
                <div class="col-6 text-center">
                    <a th:href="@{/home/login}" class="btn btn-secondary text-decoration-none">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Student Registration  fragment End-->





<!--Student Registration OTP verification fragment Start-->
<div class="row m-2" th:fragment="Student_registration_verification">
    <div class="col-md-6 offset-md-3 rounded loginContainer p-5">
        <h3 class="text-center text-Success">REGISTRATION</h3>
        <form th:action="@{/home/student/registration/otpVerification}" method="post">
            <div class="form-floating mb-2">
                <input type="text" name="otp" id="otp" class="form-control" placeholder="123456">
                <label for="regNumber">Enter OTP send to your university registered email</label>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
                <div class="col-6 text-center">
                    <a th:href="@{/home/login}" class="btn btn-secondary text-decoration-none">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Student Registration OTP verification fragment End-->






<!--Faculty login fragment Start-->
<div th:fragment="Faculty_login" class="row m-2">
    <div class="col-md-6 offset-md-3 rounded loginContainer p-5">
        <h3 class="text-center text-Success">LOGIN</h3>
        <form>
            <div class="form-floating mb-2">
                <input type="text" name="username" id="regNumber" class="form-control" placeholder="BT24F06F006">
                <label for="regNumber">Enter Faculty Id</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                <label for="password">Enter Password</label>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-primary ">Login</button>
                </div>
                <div class="col-6 text-center">
                    <a th:href="@{/home/login}" class="btn btn-secondary text-decoration-none">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Faculty login fragment End-->






<!--Faculty email verification fragment Start-->
<div class="row m-2" th:fragment="faculty_registration">
    <div class="col-md-6 offset-md-3 rounded loginContainer p-5">
        <h3 class="text-center text-Success">REGISTRATION</h3>
        <form th:action="@{/home/faculty/registration/verification}" method="post">
            <div class="form-floating mb-2">
                <input type="email" name="facEmail" id="facEmail" class="form-control" placeholder="example@gmail.com">
                <label for="facEmail">Enter Your Email</label>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
                <div class="col-6 text-center">
                    <a th:href="@{/home/login}" class="btn btn-secondary text-decoration-none">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Faculty email verification fragment End-->






<!--Faculty Registration fragment Start-->
<div class="row m-2" th:fragment="Faculty_registration2">
    <div class="col-md-6 offset-md-3 rounded loginContainer p-5">
        <h3 class="text-center text-Success">REGISTRATION</h3>
        <form th:action="@{/home/faculty/registrationDetails}" method="post" th:object="${facultyPojo}">
            <div class="form-floating mb-2">
                <input type="text" name="facultyId" id="facultyId" class="form-control" placeholder="BT24F06F006" th:field="*{facultyId}">
                <label for="facultyId">Enter faculty Id</label>
                <p th:if="${#fields.hasErrors('facultyId')}" th:errors="*{facultyId}" class="text-warning"></p>
            </div>
            <div class="form-floating mb-2">
                <input type="text" name="name" id="name" class="form-control" placeholder="FullName" th:field="*{name}">
                <label for="name">Enter Your Full Name</label>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-warning"></p>
            </div>
            <div class="form-floating mb-2">
                <input type="email" name="email" id="email" class="form-control" placeholder="example@gmail.com" th:field="*{email}">
                <label for="email">Enter Your  Email</label>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-warning"></p>
            </div>
            <div class="form-floating">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" th:field="*{password}">
                <label for="password">Enter Password</label>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-warning"></p>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
                <div class="col-6 text-center">
                    <a th:href="@{/home/login}" class="btn btn-secondary text-decoration-none">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Faculty Registration  fragment End-->





<!--Faculty Registration OTP verification fragment Start-->
<div class="row m-2" th:fragment="Faculty_registration_verification">
    <div class="col-md-6 offset-md-3 rounded loginContainer p-5">
        <h3 class="text-center text-Success">REGISTRATION</h3>
        <form th:action="@{/home/faculty/registration/otpVerification}" method="post">
            <div class="form-floating mb-2">
                <input type="text" name="otp" id="otp" class="form-control" placeholder="123456">
                <label for="regNumber">Enter OTP send to your university registered email</label>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
                <div class="col-6 text-center">
                    <a th:href="@{/home/login}" class="btn btn-secondary text-decoration-none">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Faculty Registration OTP verification fragment End-->






<div class="divContainer m-4 p-3" th:fragment="Profile">
    <div class="row ">
        <div class="col-md-4">
            <div class="profilePic d-flex justify-content-center align-items-center">
                    <img th:src="@{'/Images/ProfilePic/' + ${profileOf.profilePic.pic}}" alt=""  class="img-thumbnail profile_img">
                </div>
        </div>
        <div class="col-md-8 ">
            <div class="p-2">
                <p class="m-1">Full Name : <span th:text="${profileOf.name}"></span></p>
                <p class="m-1">Email : <span th:text="${profileOf.email}"></span></p>
                <p class="m-1">Age : <span th:text="${profileOf.age}"></span></p>
                <p class="m-1">BirthDate : <span th:text="${profileOf.birthdate}"></span></p>
                <p class="m-1">Address : <span th:text="${profileOf.address}"></span></p>
                <p class="m-1">City : <span th:text="${profileOf.city}"></span></p>
                <p class="m-1">State : <span th:text="${profileOf.state}"></span></p>
                <p class="m-1">Department : <span th:text="${profileOf.department}"></span></p>
                <div th:if="${section == 'student'}">
                    <p class="m-1">Course : <span th:text="${profileOf.course}"></span></p>
                    <p class="m-1">Semester : <span th:text="${profileOf.semester}"></span></p>
                    <p class="m-1">Class Teacher : <span th:text="${profileOf.faculty.name}"></span></p>
                </div>
                <div th:unless="${section == 'student'}">
                    <p class="m-1">Designation : <span th:text="${profileOf.designation}"></span></p>
                    <p class="m-1">Class Teacher Of : <span th:text="${profileOf.classTeacher}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>