<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>





<!--Student Menu Fragment Start-->

<div class="container rounded border border-1 border-dark p-2 " th:fragment="StudentMenu">
    <h3 class="text-center text-dark">MENU</h3>
    <div class="d-flex justify-content-center align-items-center flex-wrap">
        <div class="text-center mx-1 mb-1"><a th:href="@{/student/subjects}" class="btn btn-success">Subjects</a></div>
        <div class="text-center mx-1 mb-1"><a th:href="@{/student/exams}" class="btn btn-success">Exams</a></div>
        <div class="text-center mx-1 mb-1"><a th:href="@{/student/attendance}" class="btn btn-success">Attendance</a></div>
        <div class="text-center mx-1 mb-1"><a th:href="@{/student/query}" class="btn btn-success">Query</a></div>
    </div>
</div>
<!--Student Menu Fragment End-->







<!--Student Profile Fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="StudentProfile">
    <div class="row ">
        <div class="col-md-4">
            <form th:action="@{/student/profile/updateProfilePic}" method="post" enctype="multipart/form-data">
                <div class="profilePic d-flex justify-content-center align-items-center">
                    <img th:src="@{'/Images/ProfilePic/' + ${currentUser.profilePic.pic}}" alt=""  class="img-thumbnail profile_img">
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <input style="display:none" type="file" id="my-file" name="profile_img">
                    <button type="button" onclick="document.getElementById('my-file').click()" class="myButton mt-2 mx-1 w-40">Select New</button>
                </div>
                <div class="profilePicB row mt-1 mb-2">
                    <div class="col-6 text-center">
                        <a th:href="@{/student/profile/removeProfilePic(pId= ${currentUser.profilePic.id})}" class="btn btn-danger">Remove</a>
                    </div>
                    <div class="col-6 text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 ">
            <form th:action="@{/student/profile/update}" method="post" th:object="${student}">
                <div class="info">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Full Name" th:field="*{name}">
                        <label for="name">Full Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="regNumber" placeholder="Registration Number" th:field="*{universityNo}" readonly>
                        <label for="regNumber">University registration Number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" th:field="*{email}" readonly>
                        <label for="email">your email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="age" placeholder="000" th:field="*{age}">
                        <label for="age">your age</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="bdate" placeholder="00/0/0000" th:field="*{birthdate}">
                        <label for="bdate">your birth date</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="city" placeholder="mumbai" th:field="*{city}">
                        <label for="city">your city</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="state" placeholder="maharashtra" th:field="*{state}">
                        <label for="state">your state</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="address" placeholder="something" th:field="*{address}">
                        <label for="address">your address</label>
                    </div>
                    <select class="form-select mb-2" aria-label="Default select example" name="studyYear" th:field="*{course}">
                        <option th:value="Select_Year" selected>Select course</option>
                        <option th:value="First_Year">First Year</option>
                        <option th:value="Second_Year">Second Year</option>
                        <option th:value="Third_Year">Third Year</option>
                        <option th:value="Fourth_Year">Fourth Year</option>
                    </select>
                    <select class="form-select mb-2" aria-label="Default select example" name="studyYear" th:field="*{semester}">
                        <option th:value="Select_Semester" selected>Select Semester</option>
                        <option th:value="First">First</option>
                        <option th:value="Second">Second</option>
                        <option th:value="Third">Third</option>
                        <option th:value="Fourth">Fourth</option>
                        <option th:value="Fifth">Fifth</option>
                        <option th:value="Sixth">Sixth</option>
                        <option th:value="Seventh">Seventh</option>
                        <option th:value="Eighth">Eighth</option>
                    </select>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary w-50">Update</button>
                </div>
            </form>
            <p class="text-center m-1"><a class="text-decoration-none text-danger" th:href="@{/student/passwordUpdate}">Password Update</a></p>
        </div>
    </div>
    <div th:replace="~{Fragments/StudentFragments :: StudentMenu}"></div>
    <div class="container rounded border border-1 border-dark p-2 mt-2">
        <h3 class="text-center text-dark">DEPARTMENT DETAILS</h3>
        <div >
            <p class="m-1">Department Name : <a class="text-decoration-none text-dark" href="" th:text="${currentUser.department}">Password Update</a></p>
            <p class="m-1">Head Of The Department : <a class="text-decoration-none text-dark" href="">Password Update</a></p>
            <p class="m-1">Class Teacher : <a class="text-decoration-none text-dark" href="" th:text="${currentUser.faculty.name}">Password Update</a></p>

        </div>
    </div>
</div>
<!--Student Profile Fragment End-->





<!--Student Password fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="StudentPassUpdate">
    <div class="m-1">
        <h5 class="text-primary text-center">Password Update</h5>
    </div>


    <div class="profileForm row">
        <div class="col-md-8 offset-md-2 mb-2">
            <form th:action="@{/student/passwordUpdate/process}"  method="post" enctype="multipart/form-data">
                <div class="form-floating mb-3 mt-3 ">
                    <input type="text" class="form-control" id="password_old" placeholder="Enter current password"
                           name="Password_old">
                    <label for="password_old">Current password :</label>
                </div>
                <div class="form-floating mb-3 mt-3 ">
                    <input type="password" class="form-control" id="password_new" placeholder="Enter password"
                           name="Password_new">
                    <label for="password_new">New password :</label>
                    <p th:if="${password_error}" th:text="${password_error}"></p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="myButton w-50">Submit</button>
                </div>
            </form>


            <div th:if="${Match}">
                <h4 class="text-success text-center">Password Updated Successfully</h4>
                <p class="text-center text-dark">Go back to <a class="text-decoration-none text-primary" th:href="@{/student/profile}">Profile</a> page</p>
            </div>
            <div th:if="${NotMatch}">
                <h4 class="text-danger text-center">Current Password did not match, try again..!</h4>
            </div>
        </div>
        <hr>
        <div th:replace="~{Fragments/FacultyFragments :: FacultyMenu}"></div>

    </div>
</div>
<!--Faculty Password fragment End-->





<!--Student Subject fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="StudentSubjects">
    <div th:replace="~{Fragments/StudentFragments :: StudentMenu}"></div>
    <hr>
    <p class="text-warning bg-dark mt-1">&nbsp; Note : You can register up to 6 subjects for this semester.</p>
        <div class="table-responsive">
        <h3 class="text-center text-primary">AVAILABLE SUBJECTS</h3>
        <table class="m-2 table table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col">Sr. No.</th>
                <th scope="col">Name</th>
                <th scope="col">Id</th>
                <th scope="col">Credits</th>
                <th scope="col">Teacher</th>
                <th scope="col">Register</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="subject,iteration : ${subjects}">
                <td th:text="${iteration.count}">1</td>
                <td th:text="${subject.name}">CMS</td>
                <td th:text="${subject.subId}">IT002</td>
                <td th:text="${subject.credits}">4</td>
                <td th:text="${subject.faculty.name}">4</td>
                <td ><a th:href="@{/student/subjects/register(sId=${subject.id})}" class="btn btn-primary">Add</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <div class="mt-2 table-responsive">
        <h3 class="text-center text-primary">REGISTERED SUBJECTS</h3>
        <table class="m-2 table table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col">Sr. No.</th>
                <th scope="col">Name</th>
                <th scope="col">Id</th>
                <th scope="col">Credits</th>
                <th scope="col">Teacher</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="subject,iteration : ${registeredSubjects}">
                <td th:text="${iteration.count}">1</td>
                <td th:text="${subject.name}">CMS</td>
                <td th:text="${subject.subId}">IT002</td>
                <td th:text="${subject.credits}">4</td>
                <td th:text="${subject.faculty.name}">4</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <div class="mt-2 table-responsive">
        <h3 class="text-center text-primary">SUBJECT REGISTRATION STATUS</h3>
        <table class="m-2 table table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col">Sr. No.</th>
                <th scope="col">Name</th>
                <th scope="col">Id</th>
                <th scope="col">Credits</th>
                <th scope="col">Teacher</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="request,iteration : ${RegistrationStatus}">
                <td th:text="${iteration.count}">1</td>
                <td th:text="${request.subject.name}">CMS</td>
                <td th:text="${request.subject.subId}">IT002</td>
                <td th:text="${request.subject.credits}">4</td>
                <td th:text="${request.subject.faculty.name}">4</td>
                <td th:text="${request.status}">4</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--Student Subject fragment End-->





<!--Student exam fragment start-->
<div class="divContainer m-4 p-3" th:fragment="StudentExams">
    <div th:replace="~{Fragments/StudentFragments :: StudentMenu}"></div>
    <hr>
    <div class="table-responsive mt-1">
        <h3 class="text-center text-primary">EXAM DATA</h3>
        <table class="m-2 table table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col">Sr. No.</th>
                <th scope="col">Subject Name</th>
                <th scope="col">Subject Id</th>
                <th scope="col">Class Test 1<br> <span class="fw-lighter fs-6">Out Of 15</span></th>
                <th scope="col">Class Test 2<br> <span class="fw-lighter fs-6">Out Of 15</span></th>
                <th scope="col">Internal<br> <span class="fw-lighter fs-6">Out Of 10</span></th>
                <th scope="col">End Semester<br> <span class="fw-lighter fs-6">Out Of 60</span></th>
                <th scope="col">Grade</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="score,index :${scores}">
                <td th:text="${index.count}">1</td>
                <td th:text="${score.subject.name}">CMS</td>
                <td th:text="${score.subject.subId}">IT0002</td>
                <td th:text="${score.ct1}">13</td>
                <td th:text="${score.ct2}">12</td>
                <td th:text="${score.internal}">9</td>
                <td th:text="${score.endSem}">45</td>
                <td th:text="${score.grade}">A</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--Student exam fragment End-->





<!--Student attendance fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="StudentAttendance">
    <div th:replace="~{Fragments/StudentFragments :: StudentMenu}"></div>
    <hr>
    <div class="table-responsive mt-1">
        <h3 class="text-center text-primary">ATTENDANCE DATA</h3>
        <table class="m-2 table table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col">Sr. No.</th>
                <th scope="col">Subject Name</th>
                <th scope="col">Subject Id</th>
                <th scope="col">Total Classes</th>
                <th scope="col">Classes Attended</th>
                <th scope="col">% Attendance</th>
                <th scope="col">Updated On</th>
                <th scope="col">Updated By</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="attendance,index : ${attendances}">
                <td th:text="${index.count}">1</td>
                <td th:text="${attendance.subject.name}">CMS</td>
                <td th:text="${attendance.subject.subId}">IT0002</td>
                <td th:text="${attendance.totalClasses}">13</td>
                <td th:text="${attendance.presentClasses}">12</td>
                <td th:text="${attendance.presentPercentage}">80</td>
                <td th:text="${attendance.updatedDate}">04/02/2024</td>
                <td th:text="${attendance.subject.faculty.name}">Abc</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--Student Attendance fragment End-->





<!--Student query fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="StudentQuery">
    <div th:replace="~{Fragments/StudentFragments :: StudentMenu}"></div>
    <hr>
    <div class="container mt-1">
        <h3 class="text-center text-primary">ENTER YOUR QUERY</h3>
        <P class="text-center text-dark">Your query will be sent to your respective class teacher.</P>
        <form th:action="@{/student/query/submit}" th:object="${query}" method="post">
            <div class="mb-3">
                <label for="querySubject" class="form-label">Enter Subject</label>
                <input type="text" class="form-control" id="querySubject" placeholder="Enter Query Subject" th:field="*{title}">
            </div>
            <div class="mb-3">
                <label for="query" class="form-label">Enter Query</label>
                <textarea class="form-control" id="query" rows="4"th:field="*{query}"></textarea>
            </div>
            <div class="row my-2">
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-6 text-center">
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
        </form>

    </div>
    <hr>
    <div class="table-responsive">
        <h3 class="text-center text-primary">QUERY DATA</h3>
        <table class="m-2 table table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col">Sr. No.</th>
                <th scope="col">Query Subject</th>
                <th scope="col">Raised On</th>
                <th scope="col">Status</th>
                <th scope="col">Resolved on</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="query,item : ${queries}">
                <td th:text="${item.count}">1</td>
                <td ><a th:href="@{/student/query/view(qId=${query.id})}" class="text-decoration-none" th:text="${query.title}">CMS</a></td>
                <td th:text="${query.postedDate}">IT0002</td>
                <td th:text="${query.status}">13</td>
                <td th:text="${query.resolvedDate}">12</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--Student query fragment End-->





<!--Student view query fragment Start-->
<div class="divContainer m-4 p-3" th:fragment="viewQuery">
    <div th:replace="~{Fragments/StudentFragments :: StudentMenu}"></div>
    <hr>
    <div class="container mt-1">
        <h3 class="text-center text-primary"> QUERY DATA</h3>
        <p class="text-primary fw-bold">Query Subject : <span class="font-monospace text-dark fst-normal" th:text="${query.title}">dfdgsdfgsdfg</span></p>
        <p class="text-primary fw-bold">Query : <span class="font-monospace text-dark fst-normal" th:text="${query.query}">dfgdfgdfgdfg</span></p>
        <p class="text-primary fw-bold">Raised On : <span class="font-monospace text-dark fst-normal" th:text="${query.postedDate}">sdfgsdfgsdfgdfg</span></p>
        <p class="text-primary fw-bold">Status : <span class="font-monospace text-dark fst-normal" th:text="${query.status}">dhdghfgj</span></p>
        <p class="text-primary fw-bold">Resolved on : <span class="font-monospace text-dark fst-normal" th:text="${query.resolvedDate}">ghjdrthg</span></p>
        <p class="text-primary fw-bold">Remark : <span class="font-monospace text-dark fst-normal" th:text="${query.remark}">fghfghfghfgf</span></p>
        <p class="text-primary fw-bold">Resolved By : <span class="font-monospace text-dark fst-normal" th:text="${query.faculty.name}">gffjghjhgjhjjhhjhj</span></p>
    </div>
</div>
<!--Student view query fragment End-->

</body>
</html>