<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link  th:href="@{/styles/Custom_Styles.css}" rel="stylesheet" />
  <link  th:href="@{/styles/Custom_Styles_Mob.css}" rel="stylesheet" />
  <title>Imperial College Of Engineering</title>
</head>
<body>
<section id="wrapper">
  <section id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-3" style="text-align: right;">
          <img th:src="@{/Images/logocsn.png}" class="logo" />
        </div>
        <div class="col-md-6 col-9 arsenal align-content-lg-start">
          <h1>Government College of Engineering, Chhatrapati Sambhajinagar<br />
            शासकीय अभियांत्रिकी महाविद्यालय, छत्रपती संभाजीनगर </h1>
          <h4>(An Autonomous Institute of Government of Maharashtra)</h4>
        </div>
        <div class="col-md-1 d-none d-md-block">
          <img th:src="@{/Images/dte-logo.gif}" style="height: 90px;" />
        </div>
        <div class="col-md-1 d-none d-md-block">
          <img th:src="@{/Images/mahalogo.png}" style="height: 90px;" />
        </div>
        <div class="col-md-1 d-none d-md-block">
          <img th:src="@{/Images/emblem.jpg}" style="height: 90px;" />
        </div>
      </div>
    </div>
    <br />
  </section>
  <section id="menu">
    <div class="container">
      <nav class="navbar navbar-expand-lg arsenal">
        <div class="container-fluid">
          <a class="navbar-brand d-block d-md-none" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" th:href="@{/home/}">HOME</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">DEPARTMENTS
                </a>
                <ul class="dropdown-menu">
                  <li><a th:href="@{/home/dept/Civil_Engineering}" class="nav-link">Civil Engineering Department</a></li>
                  <li><a th:href="@{/home/dept/Electrical_Engineering}" class="nav-link">Electrical Engineering Department</a></li>
                  <li><a th:href="@{/home/dept/Mechanical_Engineering}" class="nav-link">Mechanical Engineering Department</a></li>
                  <li><a th:href="@{/home/dept/Electronics_Engineering}" class="nav-link">Electronics & Telecommunication</a></li>
                  <li><a th:href="@{/home/dept/Computer_Science_Engineering}" class="nav-link">Computer Science & Engineering </a></li>
                  <li><a th:href="@{/home/dept/Information_Technology}" class="nav-link">Information Technology </a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">STUDENT
                </a>
                <ul class="dropdown-menu">
                  <li sec:authorize="isAuthenticated()"><span sec:authorize="hasRole('STUDENT')"><a th:href="@{/student/profile}" class="nav-link">Profile</a></span></li>
                  <li sec:authorize="isAuthenticated()"><span sec:authorize="hasRole('STUDENT')"><a href="#" class="nav-link" onclick="document.getElementById('logoutBtn').click()">Log out</a></span></li>
                  <li sec:authorize="!isAuthenticated()"><a th:href="@{/home/login}" class="nav-link">Login</a></li>
                  <li sec:authorize="!isAuthenticated()"><a th:href="@{/home/student/registration}" class="nav-link">Register</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">FACULTY
                </a>
                <ul class="dropdown-menu">
                  <li sec:authorize="isAuthenticated()"><span sec:authorize="hasRole('FACULTY')"><a th:href="@{/faculty/profile}" class="nav-link">Profile</a></span></li>
                  <li sec:authorize="isAuthenticated()"><span sec:authorize="hasRole('FACULTY')"><a href="#" class="nav-link" onclick="document.getElementById('logoutBtn').click()">Log out</a></span></li>
                  <li sec:authorize="!isAuthenticated()"><a th:href="@{/home/login}" class="nav-link">Login</a></li>
                  <li sec:authorize="!isAuthenticated()"><a th:href="@{/home/faculty/registration}" class="nav-link">Register</a></li>
                </ul>
              </li>
              <form action="#" th:action="@{/home/logout}" method="POST" class="d-none">
                <input type="submit" value="Logout" class="d-none" id="logoutBtn">
              </form>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href="@{/home/contact}">CONTACT</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>

    </div>
  </section>
  <section>
    <div th:if="${PageName == 'Home'}">
      <div th:replace="~{Fragments/Fragments :: Home}"></div>
    </div>

    <div th:if="${PageName == 'dept'}" >
      <div th:replace="~{Fragments/Fragments :: dept}"></div>
    </div>

    <div th:if="${PageName == 'login'}">
      <div th:replace="~{Fragments/Fragments :: login}"></div>
    </div>


    <div th:if="${PageName == 'contact'}">
      <div th:replace="~{Fragments/Fragments :: contact}"></div>
    </div>

    <div th:if="${PageName == 'Student_registration'}">
      <div th:replace="~{Fragments/Fragments2 :: Student_registration}"></div>
    </div>


    <div th:if="${PageName == 'Student_registration_verification'}">
      <div th:replace="~{Fragments/Fragments2 :: Student_registration_verification}"></div>
    </div>

    <div th:if="${PageName == 'Student_registration2'}">
      <div th:replace="~{Fragments/Fragments2 :: Student_registration2}"></div>
    </div>



    <div th:if="${PageName == 'faculty_registration'}">
      <div th:replace="~{Fragments/Fragments2 :: faculty_registration}"></div>
    </div>


    <div th:if="${PageName == 'Faculty_registration_verification'}">
      <div th:replace="~{Fragments/Fragments2 :: Faculty_registration_verification}"></div>
    </div>


    <div th:if="${PageName == 'Faculty_registration2'}">
      <div th:replace="~{Fragments/Fragments2 :: Faculty_registration2}"></div>
    </div>


    <div th:if="${PageName == 'StudentProfile'}">
      <div th:replace="~{Fragments/StudentFragments :: StudentProfile}"></div>
    </div>



    <div th:if="${PageName == 'StudentPassUpdate'}">
      <div th:replace="~{Fragments/StudentFragments :: StudentPassUpdate}"></div>
    </div>



    <div th:if="${PageName == 'StudentSubjects'}">
       <div th:replace="~{Fragments/StudentFragments :: StudentSubjects}"></div>
    </div>



    <div th:if="${PageName == 'StudentRegisteredSubjects'}">
      <div th:replace="~{Fragments/StudentFragments :: StudentRegisteredSubjects}"></div>
    </div>



    <div th:if="${PageName == 'RegistrationStatus'}">
      <div th:replace="~{Fragments/StudentFragments :: RegistrationStatus}"></div>
    </div>



    <div th:if="${PageName == 'StudentExams'}">
      <div th:replace="~{Fragments/StudentFragments :: StudentExams}"></div>
    </div>



    <div th:if="${PageName == 'StudentAttendance'}">
      <div th:replace="~{Fragments/StudentFragments :: StudentAttendance}"></div>
    </div>



    <div th:if="${PageName == 'StudentQuery'}">
      <div th:replace="~{Fragments/StudentFragments :: StudentQuery}"></div>
    </div>



    <div th:if="${PageName == 'StudentQueryList'}">
      <div th:replace="~{Fragments/StudentFragments :: StudentQueryList}"></div>
    </div>


    <div th:if="${PageName == 'viewQuery'}">
      <div th:replace="~{Fragments/StudentFragments :: viewQuery}"></div>
    </div>


    <div th:if="${PageName == 'FacultyProfile'}">
      <div th:replace="~{Fragments/FacultyFragments :: FacultyProfile}"></div>
    </div>



    <div th:if="${PageName == 'FacultyPassUpdate'}">
      <div th:replace="~{Fragments/FacultyFragments :: FacultyPassUpdate}"></div>
    </div>


    <div th:if="${PageName == 'FacultyDeptUpdate'}">
      <div th:replace="~{Fragments/FacultyFragments :: FacultyDeptUpdate}"></div>
    </div>



    <div th:if="${PageName == 'FacultySubjects'}">
      <div th:replace="~{Fragments/FacultyFragments :: FacultySubjects}"></div>
    </div>

    <div th:if="${PageName == 'facultySubjectStudentList'}">
      <div th:replace="~{Fragments/FacultyFragments :: facultySubjectStudentList}"></div>
    </div>



    <div th:if="${PageName == 'FacultyAttendance'}">
      <div th:replace="~{Fragments/FacultyFragments :: FacultyAttendance}"></div>
    </div>




    <div th:if="${PageName == 'FacultyAttendanceUpdate'}">
      <div th:replace="~{Fragments/FacultyFragments :: FacultyAttendanceUpdate}"></div>
    </div>




    <div th:if="${PageName == 'StudentMarksView'}">
      <div th:replace="~{Fragments/FacultyFragments :: StudentMarksView}"></div>
    </div>



    <div th:if="${PageName == 'StudentMarksUpdate'}">
      <div th:replace="~{Fragments/FacultyFragments :: StudentMarksUpdate}"></div>
    </div>



    <div th:if="${PageName == 'StudentQueriesView'}">
      <div th:replace="~{Fragments/FacultyFragments :: StudentQueriesView}"></div>
    </div>



    <div th:if="${PageName == 'StudentResolvedQueriesView'}">
      <div th:replace="~{Fragments/FacultyFragments :: StudentResolvedQueriesView}"></div>
    </div>



    <div th:if="${PageName == 'FacultyQueryResolve'}">
      <div th:replace="~{Fragments/FacultyFragments :: FacultyQueryResolve}"></div>
    </div>


    <div th:if="${PageName == 'FacultyRequests'}">
      <div th:replace="~{Fragments/FacultyFragments :: FacultyRequests}"></div>
    </div>



    <div th:if="${PageName == 'FacultyManageSubjects'}">
      <div th:replace="~{Fragments/FacultyFragments :: FacultyManageSubjects}"></div>
    </div>


    <div th:if="${PageName == 'FacultyAddSubject'}">
      <div th:replace="~{Fragments/FacultyFragments :: FacultyAddSubject}"></div>
    </div>


    <div th:if="${PageName == 'FacultyEditSubject'}">
      <div th:replace="~{Fragments/FacultyFragments :: FacultyEditSubject}"></div>
    </div>



    <div th:if="${PageName == 'Profile'}">
      <div th:replace="~{Fragments/Fragments2 :: Profile}"></div>
    </div>



    <div th:if="${PageName == 'Exception'}">
      <div class="divContainer m-4 p-3">
        <h3 class="m-2 text-center text-warning">Something Went wrong.. Please try again later!</h3>
        <p class="m-2 text-center text-dark">Go back to <span><a class="text-decoration-none text-primary" th:href="@{/home/loginSuccess}">Profile </a></span>page.</p>
      </div>
    </div>



  </section>
  <section id="footer">
    <div class="container">
      <div class="col-lg-12 footer-bottom">
        Copyright © Government College of Engineering, Chhatrapati Sambhajinagar. All rights reserved.
      </div>
    </div>

  </section>

</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>